body{
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg');
}
form{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color:#2C2B49 ;
    color: white;
    padding: 30px;
}